# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Practica1/P1_Ej1/build/
/Practica1/P1_Ej2/nbproject/private/
/Practica1/P1_Ej2/build/
/Practica1/P1_EJ3/nbproject/private/
/Practica1/P1_EJ3/build/
/Practica1/P1_Ej4/nbproject/private/
/Practica1/P1_Ej5/nbproject/private/
/Practica1/P1_Ej5/build/
/Practica2/P2_Ej1/nbproject/private/
/Practica2/P2_Ej1/build/
/Practica2/P2_Ej2/nbproject/private/
/Practica2/P2_Ej2/build/
/Practica2/P2_Ej3/nbproject/private/
/Practica2/P2_Ej3/build/
/Practica2/P2_Ej4/nbproject/private/
/Practica2/P2_Ej4/build/
/Practica2/P2_Ej5/nbproject/private/
/Practica2/P2_Ej5/build/
/Practica3/P3_Ej1/nbproject/private/
/Practica3/P3_Ej1/build/
/Practica3/P3_Ej2/nbproject/private/
/Practica3/P3_Ej2/build/
/Practica3/P3_Ej3/nbproject/private/
/Practica3/P3_Ej3/build/
/Practica3/EjercicioClase/nbproject/private/
/Practica3/P2_Ej3/nbproject/private/
/Practica3/P5_Ej1/nbproject/private/
/Practica3/P5_Ej1/build/
/Practica5/P5_Ej2/nbproject/private/
/Practica5/P5_Ej1/build/
/Practica5/P5_Ej1/nbproject/private/
/Practica5/P5_Ej2/build/
/Practica5/P5_Ej3/nbproject/private/
/Practica5/P5_Ej3/build/
/Proyecto2/Biblio2/build/
/Proyecto2/Biblio2/dist/
/Proyecto2/Biblio2/nbproject/private/
/Practica5/P5_Ejercicio7/nbproject/private/
/Practica7/P7_EJ6/nbproject/private/
/Practica7/P7_Ej1/nbproject/private/